body{
    color: black;
    background-color:bisque;

}
header {
    border-bottom: solid 0px rgba(95, 48, 4, 0.336);
    padding: 20px;
    font-size: 32px;
    color: rgb(255, 243, 188);
}